NEXT_PUBLIC_SUPABASE_URL=https://eejlqypmkbobuhllhlwc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVlamxxeXBta2JvYnVobGxobHdjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI1OTYyNjksImV4cCI6MjA3ODE3MjI2OX0.qyuCx9XHtO_b3p-olYpbE5dfWm8naF5yE3YQy0w2ka0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVlamxxeXBta2JvYnVobGxobHdjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjU5NjI2OSwiZXhwIjoyMDc4MTcyMjY5fQ.CAGDTNyBNbhxn338wJSUym-yleXLbjtF78yy8Al8gQw
NEXT_PUBLIC_ADMIN_EMAILS=mdraselswe@gmail.com,rrasel141@gmail.com,iyeasin44@gmail.com